<launch>
  <node pkg="ORB_SLAM2" type="RGBD" name="orb_slam_rgbd" output="screen" args="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM2)/../../RGB-D/TUM1.yaml" />


  <node pkg="rosbag" type="play" name="player" output="screen" args="$(find ORB_SLAM2)/../../../data/sbpl1.bag"/>
</launch>
